@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #383838 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #383838, 0 0 5px #383838 !important;
}

#nprogress .spinner-icon {
  border-top-color: #383838;
  border-left-color: #383838;
}

.shop .carousel .control-dots {
  top: 0px !important;
  text-align: left;
  padding-left: 10px !important;
}

.dot {
  box-shadow: none !important;
  background: gray !important;
}

.dot:hover {
  background: black !important;
}

.selected {
  background: black !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
